header{
    width:100%;
    background-color:white;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:30px 55px;
}
header img{
    width:249px ; 
    height:43px;
}
.fondo{
    background-color: #E5E5E5;
    height: 84vh;
    padding:21px;
}
.seccionBusqueda{
    width:1380px;
    height:135px;
    background-color: white;
    border-radius: 32px;
    border-top: 21px;
    display: flex;
    align-items :center;
    padding-left: 32px;
}

.seccionBusqueda button{
    height: 54px;
    width:160px;
    border-radius: 34px;
    background-color: var(--rojo);
    color:white;
    border: none;
    font-size: 24px;
    cursor:pointer;
}

.seccionBusqueda input{
    height: 59px;
    width:338px;
    border-radius: 34px;
    border-color: var(--rojo);
    font-size: 24px;
    
}

.card-contenedor{
    width: 360px;
    height: 185px;
    background-color:white;
}