*{
    padding:0;
    box-sizing: border-box;
}
:root{
    --rojo:#981B15;
}
html{
    font-family: roboto;
}


.fondoImagen{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    width:1024px;
    height:705px;
}


.contenedor-login{
    width: 648px;
    height: 407px;
}