*{
    padding:0;
    box-sizing: border-box;
}
:root{
    --rojo:#981B15;
}
html{
    font-family: roboto;
}


.fondoImagen{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    width:1024px;
    height:705px;
}


.contenedor-login{
    width: 648px;
    height: 407px;
    padding: 0 auto;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-login img{
    width: 406px;
    height: 70px;
}
.contenedor-login input{
    height: 68px;
    width:410px;
    border-radius: 34px;
    border-color: var(--rojo);
}

.contenedor-login button{
    height: 68px;
    width:410px;
    border-radius: 34px;
    background-color: var(--rojo);
    color:white;
    border: none;
}